.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct_info {
    padding-left: 20px;
}

.checkoutProduct_info > button {
    background: #a0b5dd;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a0b5dd #a5a5f3;
    margin-top: 10px;
    border-color: #a0b5dd #a5a5f3;
}

.checkoutProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct_title {
    font-size: 17px;
    font-weight: 800;
}

