.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    /* margin-top: 15px; */
}

.header_search {
    display: flex;
    flex: 2;
    align-items: center;
    border-radius: 20px;
}

.header_searchIcon {
    background-color: #cd9042;
    padding: 5px;
    height: 15px;
}

.header_optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header_optionLineTwoheader_basketCount {
    margin-right: 10px;
    margin-left: 10px;
}

.header_nav {
    margin-right: 20px;
}